.u-section-1 {
  background-image: url("images/3d-space-scene.jpg");
  background-position: 56.61% 100%;
  background-size: auto 135%;
}

.u-section-1 .u-sheet-1 {
  min-height: 929px;
}

.u-section-1 .u-group-1 {
  width: 1089px;
  min-height: 722px;
  margin: 122px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 18px;
}

.u-section-1 .u-image-1 {
  width: 674px;
  height: 192px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-size: 1.5rem;
  margin: 189px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 19px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: -7px auto 44px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-image-1 {
    height: 191px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 587px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-group-1 {
    min-height: 600px;
    margin-top: 132px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 96px;
    margin-top: 66px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 96px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -48px;
    margin-bottom: 48px;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4407.jpg");
  background-position: 28.48% 0%;
  background-size: auto 140%;
}

.u-section-2 .u-sheet-1 {
  min-height: 914px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 734px;
  margin: 101px auto 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 99px 0 0 313px;
}

.u-section-2 .u-image-1 {
  width: 264px;
  height: 264px;
  background-image: url("images/StevenWong.jpg");
  background-position: 50% 50%;
  margin: -57px auto 0 20px;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  animation-duration: 1000ms;
  margin: -134px 20px 0 313px;
}

.u-section-2 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -157px 0 0 313px;
}

.u-section-2 .u-image-2 {
  width: 264px;
  height: 264px;
  background-image: url("images/TJ.png");
  background-position: 50% 50%;
  margin: 254px 20px 0 auto;
}

.u-section-2 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -249px 297px 0 16px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  margin: 53px 297px 0 36px;
}

.u-section-2 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -212px 313px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-size: auto 155%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 113px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 133px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 133px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 113px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 113px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 578px;
  }

  .u-section-2 .u-text-1 {
    width: 720px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.75rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1118px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 213px;
  }

  .u-section-2 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: -194px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 111px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -197px;
  }

  .u-section-2 .u-image-2 {
    width: 150px;
    height: 150px;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 45px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    width: auto;
    margin-top: -248px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4407.jpg");
  background-position: 0% 0%;
  background-size: auto 175%;
}

.u-section-3 .u-sheet-1 {
  min-height: 894px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 152px 0 0 313px;
}

.u-section-3 .u-image-1 {
  width: 264px;
  height: 264px;
  background-image: url("images/Edwinder_Bio_Photo.jpg");
  background-position: 50% 50%;
  margin: -61px auto 0 20px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 2px;
  background-image: none;
  margin: -133px 20px 0 313px;
}

.u-section-3 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -131px 0 0 313px;
}

.u-section-3 .u-image-2 {
  width: 264px;
  height: 264px;
  background-image: url("images/Alina.JPG");
  background-position: 50% 50%;
  margin: 250px 20px 0 auto;
}

.u-section-3 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -231px 304px 0 9px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  margin: 63px 304px 0 29px;
}

.u-section-3 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -149px 304px 60px 9px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-size: auto 240%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 133px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 133px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 113px;
    margin-left: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 113px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 901px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 54px;
  }

  .u-section-3 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: -204px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 130px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -164px;
  }

  .u-section-3 .u-image-2 {
    width: 150px;
    height: 150px;
    margin-top: 149px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 18px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 54px;
  }

  .u-section-3 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: -162px;
    margin-bottom: 27px;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4407.jpg");
  background-position: 19.85% 0%;
  background-size: auto 145%;
}

.u-section-4 .u-sheet-1 {
  min-height: 894px;
}

.u-section-4 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 152px 0 0 313px;
}

.u-section-4 .u-image-1 {
  width: 264px;
  height: 264px;
  background-image: url("images/AndrewOng.jpg");
  background-position: 50% 50%;
  margin: -61px auto 0 20px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 2px;
  background-image: none;
  margin: -133px 20px 0 313px;
}

.u-section-4 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -131px 0 0 313px;
}

.u-section-4 .u-image-2 {
  width: 264px;
  height: 264px;
  background-image: url("images/RaydenChia.JPG");
  background-position: 50% 0%;
  margin: 250px 20px 0 auto;
}

.u-section-4 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -231px 304px 0 9px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  margin: 63px 304px 0 29px;
}

.u-section-4 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -199px 304px 60px 9px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    background-size: auto 240%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 113px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 133px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 133px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 113px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 113px;
    margin-left: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 113px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.75rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 424px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 943px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 53px;
  }

  .u-section-4 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: -188px;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 85px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -142px;
  }

  .u-section-4 .u-image-2 {
    width: 150px;
    height: 150px;
    margin-top: 168px;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 47px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: -232px;
    margin-bottom: 95px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4407.jpg");
  background-position: 98.75% 0%;
  background-size: auto 145%;
}

.u-section-5 .u-sheet-1 {
  min-height: 894px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 170px -165px 0 313px;
}

.u-section-5 .u-image-1 {
  width: 264px;
  height: 264px;
  background-image: url("images/Peisi.jpg");
  background-position: 50% 50%;
  margin: -72px auto 0 20px;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  text-transform: uppercase;
  line-height: 1.8;
  letter-spacing: 2px;
  background-image: none;
  margin: -133px 20px 0 313px;
}

.u-section-5 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -145px 0 0 313px;
}

.u-section-5 .u-image-2 {
  width: 264px;
  height: 264px;
  background-image: url("images/Glenice-squareprofile.jpg");
  background-position: 50% 50%;
  margin: 239px 20px 0 auto;
}

.u-section-5 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: 2px;
  text-transform: none;
  font-family: Poppins;
  font-weight: 700;
  font-size: 1.875rem;
  margin: -231px 313px 0 0;
}

.u-section-5 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  line-height: 1.8;
  margin: 63px 304px 0 29px;
}

.u-section-5 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(28,23,56,0.4);
  letter-spacing: normal;
  text-transform: none;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  font-style: italic;
  margin: -224px 304px 60px 9px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    background-size: auto 240%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 133px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 133px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 113px;
  }

  .u-section-5 .u-text-5 {
    margin-right: 133px;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 133px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.75rem;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 424px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1048px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 54px;
  }

  .u-section-5 .u-image-1 {
    width: 150px;
    height: 150px;
    margin-top: -204px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 101px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -147px;
  }

  .u-section-5 .u-image-2 {
    width: 150px;
    height: 150px;
    margin-top: 173px;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 20px;
  }

  .u-section-5 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 97px;
  }

  .u-section-5 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: -329px;
    margin-bottom: 156px;
  }
}.u-section-6 {
  background-image: url("images/v628-kul-11-meteor2.jpg");
  background-position: 50% 0%;
}

.u-section-6 .u-sheet-1 {
  min-height: 582px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1092px;
  margin: 34px 0 20px auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 187px;
}

.u-section-6 .u-container-layout-1 {
  padding: 18px 0 15px 2px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 0 0 2px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 10px 3px 0 2px;
}

.u-section-6 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 17px auto 0 495px;
}

.u-section-6 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 277px;
}

.u-section-6 .u-container-layout-2 {
  padding: 14px 16px 0 0;
}

.u-section-6 .u-image-1 {
  width: 63px;
  height: 63px;
  margin: 0 auto 0 150px;
}

.u-section-6 .u-line-2 {
  width: 100px;
  height: 10px;
  margin: 15px auto 0 132px;
}

.u-section-6 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 10px 14px 0 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 277px;
}

.u-section-6 .u-container-layout-3 {
  padding: 14px 0 6px;
}

.u-section-6 .u-image-2 {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.u-section-6 .u-line-3 {
  width: 100px;
  height: 10px;
  margin: 16px auto 0;
}

.u-section-6 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 10px auto 0;
  padding: 8px 33px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 277px;
}

.u-section-6 .u-container-layout-4 {
  padding: 14px 30px 19px;
}

.u-section-6 .u-image-3 {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.u-section-6 .u-line-4 {
  width: 100px;
  height: 10px;
  margin: 15px auto 0;
}

.u-section-6 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 161px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-line-2 {
    margin-left: 124px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-line-1 {
    margin-left: 439px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1099px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-6 .u-line-1 {
    margin-top: 15px;
    margin-left: 117px;
  }

  .u-section-6 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 22px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-6 .u-image-1 {
    margin-left: 139px;
  }

  .u-section-6 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-5 {
    font-size: 0.875rem;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 291px;
    margin-bottom: -281px;
  }

  .u-section-6 .u-text-6 {
    font-size: 0.875rem;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 602px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 457px;
  margin: 60px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  width: 1092px;
  margin: 24px auto 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 212px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-image-1 {
  width: 379px;
  height: 130px;
  margin: 0 -15px 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 212px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-image-2 {
  width: 190px;
  height: 190px;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 212px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-3 {
  width: 190px;
  height: 190px;
  background-image: url("images/Div0Logo.png");
  background-position: 50% 50%;
  margin: 0 84px 0 auto;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 212px;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px 0 30px 27px;
}

.u-section-7 .u-image-4 {
  width: 388px;
  height: 77px;
  margin: 0 auto 0 52px;
}

.u-section-7 .u-layout-cell-5 {
  min-height: 212px;
}

.u-section-7 .u-container-layout-5 {
  padding: 30px 0 12px 18px;
}

.u-section-7 .u-image-5 {
  width: 421px;
  height: 80px;
  margin: 36px auto 0 45px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-7 .u-layout-cell-1 {
    animation-duration: 1000ms;
    min-height: 182px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 0;
    margin-left: 7px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 182px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 182px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 182px;
  }

  .u-section-7 .u-image-4 {
    width: 286px;
    height: 57px;
    margin-left: 0;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 182px;
  }

  .u-section-7 .u-image-5 {
    width: 296px;
    height: 56px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 139px;
  }

  .u-section-7 .u-image-1 {
    width: 242px;
    height: 83px;
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 139px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 139px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 139px;
  }

  .u-section-7 .u-image-4 {
    width: 213px;
    height: 42px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 139px;
  }

  .u-section-7 .u-image-5 {
    width: 222px;
    height: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1150px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 311px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 216px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 313px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 313px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 770px;
  }

  .u-section-7 .u-text-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-7 .u-image-1 {
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-7 .u-image-3 {
    margin-right: auto;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 197px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 48px;
    margin-left: 54px;
  }

  .u-section-7 .u-layout-cell-5 {
    min-height: 197px;
  }

  .u-section-7 .u-image-5 {
    margin-top: 48px;
    margin-left: 49px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 421px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 457px;
  margin: 60px auto 0;
}

.u-section-8 .u-layout-wrap-1 {
  width: 868px;
  margin: 21px auto 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 218px;
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 16px 30px 30px;
}

.u-section-8 .u-image-1 {
  width: 441px;
  height: 152px;
  margin: 0 auto 0 183px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-8 .u-layout-wrap-1 {
    min-height: 818px;
  }

  .u-section-8 .u-image-1 {
    width: 388px;
    height: 133px;
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
    min-height: 309px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-8 .u-image-1 {
    width: 242px;
    height: 83px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
    min-height: 903px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-8 .u-text-1 {
    width: 340px;
    margin-top: 43px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
    min-height: auto;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 179px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 53px;
    margin-left: auto;
  }
}.u-section-9 {
  background-image: url("images/1866.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 490px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 536px;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  margin: 64px 47px 0 36px;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 68px;
  min-height: 16px;
  width: 225px;
  min-width: 68px;
  margin: 8px auto 0 36px;
}

.u-section-9 .u-icon-1 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

.u-section-9 .u-icon-2 {
  height: 100%;
  color: rgb(219, 83, 75) !important;
}

.u-section-9 .u-icon-3 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 536px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 442px;
  }

  .u-section-9 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 442px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-top: 159px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 339px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 509px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 346px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 156px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-9 .u-social-icons-1 {
    width: 224px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 162px;
  }
}