.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/3d-space-scene.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 951px;
}

.u-section-1 .u-group-1 {
  width: 1089px;
  height: auto;
  min-height: 796px;
  margin: 118px auto 37px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 674px;
  height: 192px;
  margin: 111px auto 0;
}

.u-section-1 .u-text-1 {
  font-style: italic;
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 52px auto 0 470px;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-1 .u-custom-html-1 {
  min-height: 31px;
  height: auto;
  margin: -35px 941px 0 71px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 114px 307px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: -26px 441px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: -24px auto 0 449px;
}

.u-section-1 .u-text-7 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -129px auto 0 302px;
}

.u-section-1 .u-text-8 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -115px auto 0 400px;
}

.u-section-1 .u-text-9 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -115px auto 0 436px;
}

.u-section-1 .u-text-10 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -115px auto 0 534px;
}

.u-section-1 .u-text-11 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -115px auto 0 570px;
}

.u-section-1 .u-text-12 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -115px auto 0 668px;
}

.u-section-1 .u-text-13 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: -115px auto 0 704px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  font-size: 1rem;
  margin: -13px auto 0 324px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 51px auto 0 562px;
  padding: 8px 27px 8px 26px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  margin: -48px auto 0 328px;
  padding: 8px 60px 8px 59px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    min-height: 798px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 112px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -34px;
    margin-right: 863px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 113px;
    margin-right: 237px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 361px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -26px;
    margin-left: 390px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -126px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -116px;
    margin-left: 346px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-left: 377px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -114px;
    margin-right: 449px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: 356px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 325px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -116px;
    margin-right: 232px;
    margin-left: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: -14px;
    margin-left: 273px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 53px;
    margin-left: 487px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 253px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 601px;
  }

  .u-section-1 .u-group-1 {
    min-height: 838px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 643px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 269px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 271px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 133px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-left: 226px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 257px;
  }

  .u-section-1 .u-text-10 {
    margin-right: auto;
    margin-left: 351px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -116px;
    margin-right: 264px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 233px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -114px;
    margin-right: 141px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -15px;
    margin-left: 154px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 54px;
    margin-left: 377px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 143px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 24px;
  }

  .u-section-1 .u-image-1 {
    height: 155px;
    margin-top: 47px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 69px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -42px;
    margin-right: 463px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 112px;
    margin-right: 61px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 186px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 167px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -128px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -115px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 154px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -115px;
    margin-right: 273px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: -115px;
    margin-right: 180px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -116px;
    margin-right: 149px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -115px;
    margin-right: 56px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -14px;
    margin-left: 63px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 48px;
    margin-left: 282px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 284px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 97px;
    margin-top: 28px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-top: 37px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 263px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 103px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -22px;
    margin-right: 96px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    margin-top: -22px;
    margin-left: 100px;
  }

  .u-section-1 .u-text-7 {
    font-size: 3.75rem;
    margin-top: -107px;
    margin-left: 3px;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.75rem;
    margin-top: -96px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-9 {
    font-size: 3.75rem;
    margin-top: -96px;
    margin-left: 90px;
  }

  .u-section-1 .u-text-10 {
    font-size: 3.75rem;
    margin-top: -96px;
    margin-right: auto;
    margin-left: 160px;
  }

  .u-section-1 .u-text-11 {
    font-size: 3.75rem;
    margin-top: -96px;
    margin-right: 93px;
  }

  .u-section-1 .u-text-12 {
    font-size: 3.75rem;
    margin-top: -96px;
    margin-right: 75px;
  }

  .u-section-1 .u-text-13 {
    font-size: 3.75rem;
    margin-top: -96px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.875rem;
    margin-top: -12px;
    margin-left: 23px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 34px;
    margin-left: 70px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-left: 70px;
  }
}.u-section-2 {
  background-image: linear-gradient(black, #130924);
}

.u-section-2 .u-sheet-1 {
  min-height: 1529px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  background-image: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  margin: 88px 120px 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1140px;
  margin: 29px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
  min-height: 1330px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-image-1 {
  width: 199px;
  height: 199px;
  background-image: url("images/StevenWong1.jpg");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 40px;
}

.u-section-2 .u-image-2 {
  width: 199px;
  height: 199px;
  background-image: url("images/TJ1.png");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 40px;
}

.u-section-2 .u-image-3 {
  width: 199px;
  height: 199px;
  background-image: url("images/Edwinder_Bio_Photo1.jpg");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 40px;
}

.u-section-2 .u-image-4 {
  width: 199px;
  height: 199px;
  background-image: url("images/Alina1.JPG");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 40px;
}

.u-section-2 .u-image-5 {
  width: 199px;
  height: 199px;
  background-image: url("images/AndrewOng1.jpg");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-5 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 40px;
}

.u-section-2 .u-image-6 {
  width: 199px;
  height: 199px;
  background-image: url("images/RaydenChia1.JPG");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-6 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-13 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

.u-section-2 .u-list-item-7 {
  background-image: none;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px 40px;
}

.u-section-2 .u-image-7 {
  width: 199px;
  height: 199px;
  background-image: url("images/Peisi1.jpg");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-7 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-14 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-14 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-15 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

.u-section-2 .u-list-item-8 {
  background-image: none;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px 40px;
}

.u-section-2 .u-image-8 {
  width: 199px;
  height: 199px;
  background-image: url("images/Glenice-squareprofile1.jpg");
  background-position: 50% 50%;
  margin: 35px auto 0 0;
}

.u-section-2 .u-group-8 {
  width: 257px;
  min-height: 220px;
  height: auto;
  margin: -207px 0 0 auto;
}

.u-section-2 .u-container-layout-16 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 22px;
}

.u-section-2 .u-text-16 {
  font-size: 1.875rem;
  margin: 0 76px 0 6px;
}

.u-section-2 .u-text-17 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 20px 5px 0;
}

.u-section-2 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 29px auto 0 6px;
  padding: 6px 20px 6px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1097px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-1 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-1 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 17px;
    margin-left: 5px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-2 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-2 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 17px;
    margin-left: 5px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-3 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-3 {
    width: 200px;
    min-height: 234px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 17px;
    margin-left: 5px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-4 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-4 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 17px;
    margin-left: 5px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-5 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-5 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 17px;
    margin-left: 5px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-6 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-6 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 17px;
    margin-left: 5px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-7 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-7 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-14 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 17px;
    margin-left: 5px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-image-8 {
    width: 183px;
    height: 183px;
  }

  .u-section-2 .u-group-8 {
    width: 200px;
    margin-top: -183px;
    height: auto;
  }

  .u-section-2 .u-container-layout-16 {
    padding-top: 22px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 6px;
    margin-right: 18px;
    margin-left: 5px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-right: -10px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 17px;
    margin-left: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-1 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-1 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 29px;
    margin-left: 67px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-2 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 29px;
    margin-left: 67px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-3 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-3 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 29px;
    margin-left: 67px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-4 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 29px;
    margin-left: 67px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-5 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 29px;
    margin-left: 67px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-6 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-6 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 29px;
    margin-left: 67px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-7 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-7 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 29px;
    margin-left: 67px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-8 {
    width: 243px;
    height: 243px;
  }

  .u-section-2 .u-group-8 {
    width: 397px;
    margin-top: -243px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 146px;
    margin-left: 67px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 56px;
    margin-left: 67px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 29px;
    margin-left: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-1 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-2 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-2 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-3 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-3 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-4 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-4 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-5 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-5 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-6 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-6 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-13 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-7 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-7 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-14 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-15 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 19px;
  }

  .u-section-2 .u-image-8 {
    width: 214px;
    height: 214px;
  }

  .u-section-2 .u-group-8 {
    width: 257px;
    min-height: 250px;
    margin-top: -214px;
  }

  .u-section-2 .u-container-layout-16 {
    padding-bottom: 0;
  }

  .u-section-2 .u-text-16 {
    font-size: 2.25rem;
    margin-right: 19px;
  }

  .u-section-2 .u-text-17 {
    font-size: 1.125rem;
    margin-top: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 4686px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 44px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -14px;
    margin-bottom: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 4610px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    margin-top: 34px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-2 {
    margin-top: 34px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-3 {
    margin-top: 34px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-4 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-4 {
    margin-top: 34px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-8 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-9 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-5 {
    margin-top: 34px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-10 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-11 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-6 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-6 {
    margin-top: 34px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-12 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-13 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-7 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-7 {
    margin-top: 34px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-14 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-15 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 21px;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-15 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-8 {
    width: 255px;
    height: 255px;
    margin-left: auto;
  }

  .u-section-2 .u-group-8 {
    margin-top: 34px;
    min-height: 222px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-16 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-17 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.25rem;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 21px;
    margin-left: auto;
  }
}.u-section-3 {
  background-image: url("images/v628-kul-11-meteor2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 582px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1092px;
  margin: 34px 0 20px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 187px;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 0 15px 2px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 0 0 2px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 10px 3px 0 2px;
}

.u-section-3 .u-line-1 {
  width: 100px;
  height: 10px;
  margin: 17px auto 0 495px;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-size: 1rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 277px;
}

.u-section-3 .u-container-layout-2 {
  padding: 14px 16px 0 0;
}

.u-section-3 .u-image-1 {
  width: 63px;
  height: 63px;
  margin: 0 auto 0 150px;
}

.u-section-3 .u-line-2 {
  width: 100px;
  height: 10px;
  margin: 15px auto 0 132px;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  font-size: 1rem;
  margin: 10px 14px 0 30px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 277px;
}

.u-section-3 .u-container-layout-3 {
  padding: 14px 0 6px;
}

.u-section-3 .u-image-2 {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.u-section-3 .u-line-3 {
  width: 100px;
  height: 10px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-5 {
  font-style: italic;
  font-size: 1rem;
  margin: 10px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  background-image: none;
  margin: 30px auto 0;
  padding: 8px 33px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 277px;
}

.u-section-3 .u-container-layout-4 {
  padding: 14px 30px 19px;
}

.u-section-3 .u-image-3 {
  width: 63px;
  height: 63px;
  margin: 0 auto;
}

.u-section-3 .u-line-4 {
  width: 100px;
  height: 10px;
  margin: 15px auto 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  font-size: 1rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 49.55%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 282px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: 12px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 238px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-3 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 238px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    background-position: 0% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 89px;
  }

  .u-section-3 .u-line-2 {
    margin-left: 70px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    background-position: 17.61% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-line-1 {
    margin-top: 10px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 27px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 239px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 20px;
    margin-left: 220px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 5px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 223px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 30px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 266px;
    margin-bottom: -279px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    background-position: 21% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 25px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 217px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-line-1 {
    margin-top: 15px;
    margin-left: 117px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.875rem;
    margin-top: 22px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 189px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 139px;
  }

  .u-section-3 .u-line-2 {
    margin-right: 109px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 233px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 26px;
  }

  .u-section-3 .u-line-3 {
    margin-top: 8px;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.875rem;
    margin-top: 15px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 267px;
    margin-bottom: -281px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.875rem;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 515px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  background-image: none;
  text-transform: uppercase;
  margin: 60px 570px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  margin: 20px 953px 0 0;
}

.u-section-4 .u-accordion-1 {
  width: 893px;
  margin: -122px 0 60px auto;
}

.u-section-4 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-item-2 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-item-3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-4 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-4 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-4 .u-accordion-link-5 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-4 .u-icon-5 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-4 .u-accordion-pane-5 {
  min-height: 150px;
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 565px;
  }

  .u-section-4 .u-text-2 {
    width: 864px;
    margin-right: 753px;
  }

  .u-section-4 .u-accordion-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 350px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
    margin-right: 533px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
    margin-right: 170px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-right: 353px;
  }

  .u-section-4 .u-accordion-1 {
    margin-bottom: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-right: 153px;
  }

  .u-section-4 .u-accordion-1 {
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 432px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  width: 541px;
  margin: 49px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  width: 800px;
  margin: 35px auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 130px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 277px;
  height: 95px;
  margin: 0 -5px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 130px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 107px;
  height: 107px;
  margin: 18px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 130px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 220px;
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 130px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 17px;
}

.u-section-5 .u-image-4 {
  width: 232px;
  height: 46px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 130px;
}

.u-section-5 .u-container-layout-5 {
  padding: 12px 0 12px 18px;
}

.u-section-5 .u-image-5 {
  width: 226px;
  height: 43px;
  margin: 0 auto 0 2px;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 130px;
}

.u-section-5 .u-container-layout-6 {
  padding: 12px 20px;
}

.u-section-5 .u-image-6 {
  width: 107px;
  height: 107px;
  background-image: url("images/Div0Logo.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    width: 267px;
    height: 92px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 406px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-5 .u-image-1 {
    width: 240px;
    height: 83px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 117px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 117px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 117px;
  }

  .u-section-5 .u-image-4 {
    width: 206px;
    height: 41px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 117px;
  }

  .u-section-5 .u-image-5 {
    width: 222px;
    height: 42px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 117px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 25px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-5 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 126px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    order: 0;
    min-height: 263px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 126px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 126px;
    order: 1;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-5 .u-image-5 {
    margin-left: 149px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 126px;
    order: 2;
  }

  .u-section-5 .u-container-layout-6 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 894px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 28px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-5 .u-image-5 {
    margin-left: 49px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 283px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3rem;
  width: 577px;
  margin: 34px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 868px;
  margin: 17px auto 43px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 136px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 16px 20px 30px;
}

.u-section-6 .u-image-1 {
  width: 246px;
  height: 85px;
  margin: 0 auto 0 281px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 374px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 17px;
  }

  .u-section-6 .u-layout-cell-1 {
    animation-duration: 1000ms;
    min-height: 253px;
  }

  .u-section-6 .u-image-1 {
    width: 388px;
    height: 133px;
    margin-left: 210px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 278px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-6 .u-image-1 {
    width: 231px;
    height: 79px;
    margin-left: 215px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 266px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-left: 42px;
    margin-right: 42px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 159px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    width: 266px;
    height: 91px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 231px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 1px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 118px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .u-section-6 .u-image-1 {
    height: 70px;
    width: 204px;
  }
}.u-section-7 {
  background-image: url("images/1866.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 379px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 62px 60px 0;
}

.u-section-7 .u-text-2 {
  margin: 13px 60px 0;
}

.u-section-7 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 219px;
  min-width: 112px;
  white-space: nowrap;
  margin: 50px auto 60px;
}

.u-section-7 .u-icon-1 {
  height: 100%;
}

.u-section-7 .u-icon-2 {
  height: 100%;
}

.u-section-7 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 328px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 51px;
    font-size: 1.5rem;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-7 .u-social-icons-1 {
    width: 220px;
    margin-top: 21px;
  }
}